[Unit]
Description=GPX MightyBoard PTY Bridge Daemon for FlashForge Creator Pro
Documentation=https://github.com/markwal/GPX
After=network.target dev-serial-by\x2did.device
Wants=network.target

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=dialout
ExecStartPre=-/bin/rm -f /tmp/ffcp-pty
ExecStart=/usr/local/bin/gpx-daemon.sh
Restart=always
RestartSec=3
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
